<div class="row photolist">
<% photolist.each do |photo| %>
   <div class="col-sm-3 photo">
     <img src="<%= photo.path%>" alt=""/>
     <div class="photoname">
       <%= photo.filename%>
     </div>
   </div>
<% end %>
</div>